<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <h1>Lista Productos</h1>
    <h2>{{mensaje}}</h2>
    <h1><a href="/">Agregar un producto</a></h1>
    {{#if productos}}
    <ul>
        {{#each productos}}
        <li class={{toplaner}}>{{title}} </li>
        <li class="toplaner">{{price}}</li>
        <li>{{thumbnail}}</li>
        {{/each}}
    </ul>
    {{/if}}
</body>

</html>